{% extends "layout/base.html.twig" %}

{#--------------------
 # page title
 #--------------------#}
{% block page_title %}Page{% endblock %}

{#-----------------------------------------------------
 # body id (This is used to identify the page in css.)
 #-----------------------------------------------------#}
{% block body_id %}page{% endblock %}

{#--------------------
 # document header
 #--------------------#}
{% block doc_header %}
	{% embed 'partial/doc_header.html.twig' %}
		{% block content %}
			<h1>Page</h1>
			<p class="lead">固定ページのサンプルです</p>
		{% endblock %}
	{% endembed %}
{% endblock %} {# dec_header #}

{#--------------------
 # layout
 #--------------------#}
{% block layout %}
	{% embed 'layout/8-4.html.twig' %}
		{#--------------------
		 # content
		 #--------------------#}
		{% block content %}
			<img class="img-responsive" src="{{ _webroot_url ~ '/img/page/900x300.gif' }}" alt="placeholder">

			<h2>固定ページ</h2>
			<p>ここにコンテンツを表示</p>
			<p>HTMLかMark Downで記述します</p>

			{% markdown %}
				# Mark Down の例
				# ヘッダ1
				## ヘッダ2
				### ヘッダ3

				* リスト1
				* リスト2
				* リスト3
			{% endmarkdown %}
		{% endblock %} {# content #}

		{% block sidebar %}
			<p>サイドバーのコンテンツを表示</p>
			<p>
				<img class="img-responsive img-thumbnail" src="{{ _webroot_url ~ '/img/page/300x100.gif' }}" alt="placeholder">
			</p>
			<p>
				<img class="img-responsive img-thumbnail" src="{{ _webroot_url ~ '/img/page/300x100.gif' }}" alt="placeholder">
			</p>
			<p>
				<img class="img-responsive img-thumbnail" src="{{ _webroot_url ~ '/img/page/300x100.gif' }}" alt="placeholder">
			</p>
			{% markdown %}
			{% endmarkdown %}
		{% endblock %}
	{% endembed %}
{% endblock %}
