<div class="wrapper">
	<div class="container">
		<div class="row">
			{#--------------------
			 # content
			 #--------------------#}
			<div class="col-sm-8">
				{% block content %}
					Display the content here.
				{% endblock %}
			</div>
			{#--------------------
			 # sidebar
			 #--------------------#}
			<div class="col-sm-4">
				{% block sidebar %}
					Display the sidebar here.
				{% endblock %}
			</div>
		</div>
	</div>
</div>
